* {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}
a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  background: #191919;
}

#header {
  padding: 40px 0;
  margin: 40px 0;
  background: rgba(0, 0, 0, 0);
  position: sticky;
  top: 0;
  backdrop-filter: blur(40px);
  z-index: 99;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: head 2s ease-in-out alternate;
}
@keyframes head {
  0% {
    transform: translateY(-800px);
  }
}
.header h1 {
  color: #fff;
}

.header-text {
  display: flex;
  align-items: center;
  gap: 30px;
}
a {
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #fff;
  transition: 0.6s;
}
.imgss {
  width: 650px;
  height: 873px;
}

a:hover {
  transform: scale(1.1);
  color: rgb(17, 255, 0);
}

#hero {
  margin: 80px 0;
}
.hero-text h1 {
  font-size: 60px;
  color: #fff;
  font-weight: 700;
  line-height: 1.5;
  padding-bottom: 90px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 40px;
}

.hero-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 90px 0;
  /* padding: 100px 0; */
}

.hero-icon h5 {
  font-size: 13px;
  font-weight: 200;
  color: #fff;
  padding-bottom: 10px;
}

.hero-icon img {
  transition: 0.8s;
  padding: 0 8px;
}

.hero-icon img:hover {
  transform: scale(1.3);
}

.book {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book h1 {
  font-size: 64px;
  font-weight: 400;
  line-height: 79.2px;
  letter-spacing: 2.880000114440918px;
  color: #fff;
}

button {
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  color: #fff;
  width: 178px;
  height: 51px;
  top: 23.56px;
  left: 1122px;
  gap: 0px;
  opacity: 0px;
  background: #118da8;
  border-radius: 8px;
  border: none;
  transition: 0.6s;
}

button:hover {
  transform: scale(1.1);
  background: yellow;
  color: black;
}

.mainblocktext h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #fff;
  background: #000;
  width: 73px;
  height: 27px;
  top: 7.56px;
  gap: 0px;
  opacity: 0px;
}
.mainblocktext a {
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  color: #118da8;
}

.mainblocktext h1 {
  font-size: 64px;
  font-weight: 400;
  line-height: 70.4px;
  letter-spacing: 2.559999942779541px;
  text-align: left;
  color: #fff;
}
.mainblocktext p {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
}
.mainblock img {
  transition: 0.3s ease-in;
  filter: grayscale(100%);
}

img:hover {
  filter: grayscale(0%);
}

.mainblock {
  background: #000;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 50px 0;
  animation: block 2s ease-in-out alternate;
}
@keyframes block {
  0% {
    transform: translateX(-2000px);
  }
}

.mainblocktext {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  margin-left: 40px;
}

.buyimg a {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #118da8;
}

.buyimg h1 {
  font-size: 65px;
  font-weight: 400;
  line-height: 79.2px;
  letter-spacing: 2.880000114440918px;
  color: #fff;
}

.buyimg p {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  color: #fff;
}
.buyimg {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 40px 0;
  margin-right: 70px;
}
.buy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buyimg button {
  width: 112px;
  height: 112px;
  border-radius: 50%;
}

.kush-text h1 {
  font-size: 72px;
  font-weight: 400;
  line-height: 79.2px;
  letter-spacing: 2.880000114440918px;
  text-align: left;
  color: #fff;
}

.kush-text {
  margin: 0 40px;
}
.kush {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  border-radius: 15px;
  margin: 40px 0;
  padding: 30px 40px;
}

input {
  color: #fff;
  background: #191919;
  border: none;
  width: 500px;
  height: 78px;

  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
}

.inputtext {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.inputtext button {
  width: 87px;
  height: 48px;
  top: 204.13px;
}

.bredkg h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
  text-align: left;
}
.bredkg p {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  color: #ffffffb2;
}

.bredkg {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 20px 0;
  background: #000;
  width: 373px;
  height: 301px;
  border-radius: 20px;
  /* text-align: center; */
  padding-left: 60px;
}

.bred1 {
  display: flex;
  align-items: flex-start;
  gap: 0 35px;
  margin: 30px 0;
}

.bred2 {
  display: flex;
  align-items: flex-start;
  gap: 0 35px;
}

#footer {
  margin: 150px 0;
}

.footer1 h1 {
  color: #fff;
  width: 224px;
  height: 46px;
  top: 0.13px;
  padding: 0.11px 0.38px 0.42px 0.8px;
}

.footer2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  /* margin-left: 40px; */
}
.footer2 a {
  font-size: 17px;
  font-weight: 400;
  line-height: 37px;
}

.footer3 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  /* margin-right: 100px; */
}
.footer3 a {
  font-size: 17px;
  font-weight: 400;
  line-height: 37px;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  transition: 0.6s;
}
.footer4 img {
  margin: 0 10px;
  transition: 0.6s;
}

.footer4 img:hover {
  transform: scale(1.3);
}

@media (max-width: 900px) {
  .hero-text h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
  }
}
